[Unit]
Description=hostapd service
Wants=network-manager.service
After=network-manager.service
Wants=module-init-tools.service
After=module-init-tools.service
ConditionPathExists=/etc/hostapd.d/pocketchip_ap.conf

[Service]
ExecStart=/usr/sbin/hostapd /etc/hostapd.d/pocketchip_ap.conf

[Install]
WantedBy=multi-user.target
